body{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	width: 70%;
	min-width: 700px;
	background: radial-gradient( white, rgb(230,230,230));
	padding-top: 30px;

}

#header {
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	position: fixed;
	border-style: solid;
  	border-width: 1px;
  	border-color: #b3b3b3;
	box-shadow: 0 2px 2px -2px gray;
	background-color: rgb(51,51,51);
	border:none;
}

#header2{
	position: relative;
	width: 70%;
	height:100%;
	margin-left: auto;
	margin-right: auto;	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
}
#header2 div{
	display: grid;
}
#header2 p{
	font-family: Harmattan, sans-serif;
	margin: auto;
	font-size: 22px;
    text-decoration: none;
	color: #E7F0F3;
}

#header2 p:hover {
	color: white;
	font-size: 1.5em;
	cursor: pointer;
}

button{

}



#intro{
	display: block;
	padding: 25px;
	border-radius: 2px;
	box-shadow: 5px 5px 10px grey;
	margin: 20px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 18px;
	background-color: white;
}

.circle{
	width: 200px;
	height: 200px;
	background: url(photo2.jpg);
	border-radius: 50%;
	float: left;
	shape-outside: circle();
	margin: 20px 30px 30px 20px;
}

#intro p{
	margin: 0;
	padding: 0;
	padding-right: 25px;
	text-align: justify;
	line-height: 22px;
}

#intro h1{
	margin :0 0 20px;
	padding: 0;
	font-size: 30px;
}

#projets{
	display: none;
}

#l_projets{
	top: 43px;
	width: 14%;
	left: 0px;
	position: fixed;
	margin-left: 3px;
	padding-left: 0px;
	border 1 px solid red;
}
#l_projets li{
	border 1 px solid red;
	display: grid;
	height: 50px;
	padding-left: 20px;
	background: grey;
	border: none;
	margin-bottom: 2px;
	border: 1px solid grey ;
	border-radius: 3px;

	background-color: #E2E5EC;
	border: 1px solid #8E98A9;
	-moz-box-shadow:inset 0px 0px 1px rgba(160,170,184,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(160,170,184,1);
	box-shadow:inset 0px 0px 1px rgba(160,170,184,1);
	background-image: -o-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	color: #444D59;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

}
#l_projets a {
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
	font-family: Harmattan, sans-serif;
	font-size: 22px;
	color: white;
	color: #444D59;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}

#l_projets li:hover{
	text-decoration: none;
	background-color: #EAEAF0;
	background-image: -o-linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);
	background-image: linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);}

#l_projets a:hover {
	font-size: 1.5em;
}
.projet{
	padding: 25px;
	padding-top: 5px;
	margin: 20px;
	border-radius: 2px;
	box-shadow: 5px 5px 10px grey;
	background-color: white;
	font-family: 'Balsamiq Sans', cursive;

}

.titre{
    margin: 15px 0px 0px 0px;
   	font-size: 26px;
    color: black;
}

.description{
	margin: 0;
	padding: 30px;
	padding-top: 5px;
	padding-right: 25px;
	text-align: justify;
	line-height: 22px;
	color: rgb(51,51,51);
}

.description ul{
	border: 1px solid grey;
	margin-top: -20px;
	padding-top: -20px;
}

.description li{
	text-align: justify;
}

.rapport{
	display: flex;
	margin-bottom: 20px;
}

.rapport div{
	font-family: 'Balsamiq Sans', cursive;
	margin-top:auto;
	margin-bottom:auto;
	padding-left: 30px;
	padding-right: 5px;
}

.executable{
	display: flex;
	margin-bottom: 20px;
}

.executable div {
	font-family: 'Balsamiq Sans', cursive;
	margin-top:auto;
	margin-bottom:auto;
	padding-left: 30px;
	padding-right: 5px;

}

.demonstration{
	padding-left: 30px;
	padding-right: 30px;
}

.demonstration div{
	font-family: 'Balsamiq Sans', cursive;
	color: grey;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

iframe{
	width: 100%;
	height: 420px;
	margin-top: 20px;
	border: none;
	box-shadow: 3px 3px 7px grey;
}

#cv{
	margin: 20px;
	display: none;
}
#cv div{
	width: 100%;
	height: 100%;
	display: grid;
}
#cv img{
	width: 105%;
	min-width: 700px;
	box-shadow: 3px 3px 7px grey;
	margin: auto; 
}

#contact{
	font-family: Harmattan, sans-serif;
	display: none;
	margin-top: 20px;
	padding:20px; 
	border-radius: 2px;
	box-shadow: 5px 5px 10px grey;
	font-size: 18px;
	background-color: white;
}

#con{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.adress, .phone, .email, .gmail, .linkedin, .skype{
	display: grid;
	grid-template-columns: 1fr 5fr;
	font-size: 25px;
	margin-bottom: -28px;
	margin-left: -15px;
}

.fa {
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #000;
  margin: auto;
}

#con img {
	width: 400p; height: 400px;
	margin: auto;
}
#contact ul{
	margin-left: 20px;
	margin-top: -10px;
	padding-top:0px;
}

#contact li { 
	display: grid;
	list-style: none;
	bottom: 0;
	border-bottom: 2px grey solid;
}

#contact a {
	text-decoration: none;
	color: black;
}
